<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>{$date.0.title}</title>
<meta name="keywords" content="个人博客模板,博客模板" />
<meta name="description" content="寻梦主题的个人博客模板，优雅、稳重、大气,低调。" />
<link href="{$Think.config.__PUBLIC__}/Home/css/base.css" rel="stylesheet">
<link href="{$Think.config.__PUBLIC__}/Home/css/template.css" rel="stylesheet">
<script src="{$Think.config.__PUBLIC__}/Home/js/jquery.min.js"></script>
<link href="{$Think.config.__PUBLIC__}/favicon.ico" rel="shortcut icon" />


<!--[if lt IE 9]>
<script src="{$Think.config.__PUBLIC__}/Home/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav">
  	<a href="{:url('/Index/index')}"><span>首页</span><span class="en">Protal</span></a>
  	<a href="{:url('/Aboutme/index')}"><span>关于我</span><span class="en">About</span></a>
  	<a href="{:url('/Life/index')}"><span>慢生活</span><span class="en">Life</span></a>
  	<a href="{:url('/Broken/index')}"><span>碎言碎语</span><span class="en">Doing</span></a>
  	<a href="share.html"><span>资源分享</span><span class="en">Share</span></a>
  	<a href="{:url('/Learn/index')}"><span>学无止境</span><span class="en">Learn</span></a>
  	<a href="book.html"><span>留言版</span><span class="en">Gustbook</span></a>
  </nav>
</header>

