{include file="header" /}
<link href="{$Think.config.__PUBLIC__}/Home/css/about.css" rel="stylesheet">

<article class="aboutcon">
<h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="#" class="n2">关于我</a></h1>
<div class="about left">
    {$list.post_content}

</div>
<aside class="right">  
    <div class="about_c">
    <p>网名：<span>小洲</span></p>
    <p>姓名：匿名者 </p>
    <p>生日：1987-10-30</p>
    <p>籍贯：四川省―成都市</p>
    <p>现居：天津市―滨海新区</p>
    <p>职业：PHP工程师</p>
    <p>喜欢的书：《如何规划你的职业生涯》</p>
    <p>喜欢的音乐：《Irish Voices》</p>
<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=1ufm4uHn7u-m4_CWp6f4tbm7" ><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" alt="小洲个人博客网站"></a>
</div>     

</aside>
</article>

{include file="footer" /}