<!-- =================================================
================= CONTROLS Content ===================
================================================== -->
<div id="controls">

    <!-- ================================================
    ================= SIDEBAR Content ===================
    ================================================= -->
    <aside id="sidebar">


        <div id="sidebar-wrap">

            <div class="panel-group slim-scroll" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#sidebarNav">
                                Navigation <i class="fa fa-angle-up"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            <script>
                                $(window).load(function(){
                                    var moduleUrl = '{$data.module_slug ? $data.module_slug : "admin"}';
                                    if(moduleUrl){
                                        var currentMenuItem = $('#navigation .'+moduleUrl);
                                        if(currentMenuItem.hasClass('dropdown')){
                                            currentMenuItem.addClass('open');
                                            currentMenuItem.find('ul').show();

                                        }else{
                                            currentMenuItem.addClass('active');
                                        }
                                    }
                                });
                            </script>
                            <!-- ===================================================
                            ================= NAVIGATION Content ===================
                            ==================================================== -->
                            <ul id="navigation">
                                <li class="manage"><a class="ajax-link" href="{:url('/admin')}"><i class="fa fa-home" aria-hidden="true"></i>
                					起始页</a>
                				</li>
                               <!--  <li class="user">
                                    <a role="button" tabindex="0"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> <span>会员管理</span></a>
                                    <ul>
                                        <li><a class="ajax-link" href="{:url('/admin/member')}"><i class="fa fa-caret-right" aria-hidden="true"></i>会员列表</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/member/create')}"><i class="fa fa-caret-right"></i> 新增会员</a></li>
                                    </ul>
                                </li> -->
                                <li class="administrator">
                                    <a role="button" tabindex="0"><i class="fa fa-user-secret" aria-hidden="true"></i> <span> 管理员管理</span></a>
                                    <ul>
                                        <li><a class="ajax-link" href="{:url('/admin/administrator')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 管理员列表</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/administrator/create')}"><i class="fa fa-caret-right"></i> 新增管理员</a></li>
                                    </ul>
                                </li>
                                <li class="rbacController">
                                    <a role="button" tabindex="0"><i class="fa fa-user-secret" aria-hidden="true"></i> <span> 权限管理</span></a>
                                    <ul>
                                        <li><a class="ajax-link" href="{:url('/admin/rbac')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 权限列表</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/rbac/create')}"><i class="fa fa-caret-right"></i> 新增权限规则</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/rbac/rbacadd')}"><i class="fa fa-caret-right"></i> 新增权限</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/rbac/rbac')}"><i class="fa fa-caret-right"></i> 查看权限</a></li>
                                    </ul>
                                </li>
                                <li class="classification">
                                    <a role="button" tabindex="0"><i class="glyphicon glyphicon-random" aria-hidden="true"></i> <span> 分类管理</span></a>
                                    <ul>
                                        <li><a class="ajax-link" href="{:url('/admin/classification')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 分类列表</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/classification/create')}"><i class="fa fa-caret-right"></i> 新增分类</a></li>
                                    </ul>
                                </li>
                                <li class="posts">
                                    <a role="button" tabindex="0"><i class="fa fa-list" aria-hidden="true"></i> <span>文章管理</span></a>
                                    <ul>
                                        <li><a class="ajax-link" href="{:url('/admin/posts')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 文章列表</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/posts/create')}"><i class="fa fa-caret-right"></i> 新增文章</a></li>
                                    </ul>
                                </li>
                                <li class="friendship">
                                    <a role="button" tabindex="0"><i class="glyphicon glyphicon-link" aria-hidden="true"></i> <span> 友情链接管理</span></a>
                                    <ul>
                                        <li><a class="ajax-link" href="{:url('/admin/friendship')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 友情链接列表</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/friendship/create')}"><i class="fa fa-caret-right"></i> 新增友情链接</a></li>
                                    </ul>
                                </li>
                                <li class="configure">
                                    <a role="button" tabindex="0"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i> <span> 基本配置</span></a>
                                    <ul>
                                        <li><a class="ajax-link" href="{:url('/admin/configure')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 网站配置</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/configure/linkip')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 指定IP登录</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/configure/journal')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 日志查看</a></li>
                                        <li><a class="ajax-link" href="{:url('/admin/configure/cache')}"><i class="fa fa-caret-right" aria-hidden="true"></i> 清空缓存</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!--/ NAVIGATION Content -->
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </aside>
    <!--/ SIDEBAR Content -->

</div>
<!--/ CONTROLS Content -->
