{include file="header" /}
<link href="{$Think.config.__PUBLIC__}/Home/css/learn.css" rel="stylesheet">
<article class="blogs">
<h1 class="t_nav"><span>我们长路漫漫，只因学无止境。 </span><a href="/" class="n1">网站首页</a><a href="/" class="n2">学无止境</a></h1>
  <div id="bk2">
    
  <div class="newblog left" id="bk">

    {volist name="$list" id="vos"}

     <h2>{$vos->post_title}</h2>

     <p class="dateview"><span>发布时间：{$vos->create_time}</span><span>作者：{$vos->nickname}</span><span>分类：[<a href="/news/life/">{$vos->name}</a>]</span></p>

      <figure><img src="{$Think.config.__PUBLIC__}/uploads/{$vos->feature_image}"></figure>

      <ul class="nlist">

        <p>{$vos->post_excerpt}</p>

        <a title="/" href="{:url('/index/index/details/'.$vos->id)}" target="_blank" class="readmore">详细信息>></a>

      </ul>

      <div class="line"></div>

    {/volist}

      <div class="blank"></div>

      <div class="page">{$list->render()}</div>
  </div>
</div>

<aside class="right">
   <div class="rnav">

      <h2>栏目导航</h2>

      <ul>

      {volist name="$column" id="vo"}

       <li><a href="javascript:;"  onclick="count({$vo.id});">{$vo.name}</a></li>

      {/volist}

     </ul>      

    </div>
<div class="news">
    <h3>
      <p>最新<span>文章</span></p>

    </h3>

    <ul class="rank">

      {volist name="$info" id="vo"}

        <li><a href="{:url('/index/index/details/')}{$vo->id}" title="{$vo->post_title}" target="_blank">{$vo->post_title}</a></li>

      {/volist}

    </ul>

    <h3 class="ph">

      <p>点击<span>排行</span></p>

    </h3>

    <ul class="paih">

      {volist name="$in" id="vo"}

        <li><a href="{:url('/index/index/details/')}{$vo->id}" title="{$vo->post_title}" target="_blank">{$vo->post_title}</a></li>

      {/volist}

    </ul>

    </div>

    <div class="visitors">
      <h3><p>最近访客</p></h3>
      <ul>

      </ul>
    </div>
     <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
    <script type="text/javascript" id="bdshare_js" data="type=tools" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
    
    <script>
        function count(b){
          $.ajax({
            type:"POST",
            url:"{:url('index/Learn/ajax')}",
            data:"id="+b,
            success:function(data){
              if(data.error == 1){
                $("#bk").remove();
                $("#bk2").append(data.msg);
                $(".n2").html(data.n2);
              }
            }
          });
        }
    </script> 
</aside>
</article>
{include file="footer" /}